:root {
  --cultured: #f5f5f5;
  --blue-bell: #8789C0;
  --blue-bell-lighter: #9698d6;
  --blue-bell-darker: #7274a0;
  --middle-blue-purple: #8380b6;
  --space-cadet: #111D4A;
  --space-cadet-lighter: #222E50;
  --water: #74ccf4;
}

*, html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100vh;

  background: var(--cultured);
  color: #444444;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#root {
  width: 320px;
  height: 320px;
  border-radius: 24px;
  margin: 16px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  padding: 16px;

  background: var(--cultured);
  border-bottom: 2px solid var(--space-cadet-lighter);
  box-shadow: 1px 1px 3px var(--space-cadet);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  height: 100%;
}

nav ul li + li{
  margin-left: 8px;
}

nav ul li button {
  position: relative;
  
  padding: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  
  background: var(--blue-bell);
  color: var(--cultured);
  transition: background-color 0.2s;
  
  outline: none;
  border-radius: 16px;
  border: none;
}

nav ul li button.selected::after {
  content:'';
  width: 48px;
  position: absolute;
  bottom: 8px;
  left: 16px;
  border-bottom: 2px solid var(--cultured); 
}

nav ul li button:hover {
  background: var(--blue-bell-darker);
}

h1 {
  font-size: 48px;
}

footer {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  
  border-top: 2px solid var(--space-cadet-lighter);
  box-shadow: 1px -1px 1px var(--space-cadet);
}

footer p {
  font-size: 16px;
  font-weight: 700;
  color: var(--space-cadet-lighter)
}

footer p.smaller {
  font-size: 12px;
  font-weight: 500;
}

footer p a {
  text-decoration: none;
  color: var(--space-cadet-lighter)
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    margin: 8px 0;
  }

  nav {
    height: 100%;
    padding: 4px;
  }

  nav ul li button {
    font-size: 16px;
    margin: 4px;
  }

  nav ul li button.selected::after {
    content:'';
    width: 48px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    border-bottom: 2px solid var(--cultured); 
  }
}